body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #1542d4;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante, #cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #223ebd;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #3d12db;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #3a16db;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}